* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    background-color: #f0f0f0;
    border: 5px solid green;
    display: block;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

}